<mat-toolbar class="mat-elevation-z4" color="primary">
  <span id="tb-titulo">
    <a routerLink="/">Jogo da Forca</a>
  </span>
  <span class="spacer"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">
      Menu<mat-icon>more_vert</mat-icon>
    </button>
  </span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <span (click)="novaPalavra()">Novo Jogo</span>
    </button>
    <button mat-menu-item (click)="iniciarJogo(palavra)">
      <mat-icon>replay</mat-icon>
      <span>Reiniciar Jogo</span>
    </button>
    <a mat-menu-item routerLink="/palavras">
      <mat-icon>list</mat-icon>
      <span>Palavras</span>
    </a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>